<div class="col-lg-8">
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :name, "アカウント名" %>
      <%= f.text_field :name, class: "form-control" %>
      <small class="form-text text-muted">あとで変えられません</small>
      <% if @user.errors[:name] %>
        <% @user.errors[:name].each do |msg| %>
          <small class="form-text text-danger"><%= msg %></small>
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :display_name, "表示名" %>
      <%= f.text_field :display_name, class: "form-control" %>
      <small class="form-text text-muted">あとで変えられます</small>
      <% if @user.errors[:display_name] %>
        <% @user.errors[:display_name].each do |msg| %>
          <small class="form-text text-danger"><%= msg %></small>
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
      <% if @user.errors[:password] %>
        <% @user.errors[:password].each do |msg| %>
          <small class="form-text text-danger"><%= msg %></small>
        <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "すみませんが、パスワードを再入力してください" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <% if @user.errors[:password_confirmation] %>
        <% @user.errors[:password_confirmation].each do |msg| %>
          <small class="form-text text-danger"><%= msg %></small>
        <% end %>
      <% end %>
    </div>

    <%= button_tag "登録", type: "submit", class: "btn btn-primary" %>
  <% end %>
</div>
