<div class="col-lg-8">
  <% if @user.errors.any? %>
    <ul class="error-messages">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :name, "アカウント名" %>
      <%= f.text_field :name, class: "form-control" %>
      <small class="form-text text-muted">あとで変えられません</small>
    </div>

    <div class="form-group">
      <%= f.label :display_name, "表示名" %>
      <%= f.text_field :display_name, class: "form-control" %>
      <small class="form-text text-muted">あとで変えられます</small>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "すみませんが、パスワードを再入力してください" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <%= button_tag "登録", type: "submit", class: "btn btn-primary" %>
  <% end %>
</div>
