<div data-vue="AdminScenesNew">
  <admin-scenes-new
    :authentication-token="'<%= form_authenticity_token %>'"
    :video="{
      title: '<%= @video.title %>',
      type: '<%= @video.video_type %>',
      season: <%= @video.season %>,
      episode: <%= @video.episode %>
    }
    "
    :post-path="'/admin/videos/' + <%= @video.id %> + '/scenes'"
  ></admin-scenes-new>
</div>
